#main
{
    display: flex;
    flex-wrap: wrap;
}

.tile
{
    min-width: 300px;
    margin: 10px;
}

.imgDiv
{
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: flex;
}

.imgDiv > img
{
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
}

.tile:hover > .imgDiv > img
{
    transform: scale(1.05); 
}


.tile > h1
{
    margin-bottom: 0px;
    text-decoration: none;
    font-family: roboto, sans-serif;
    color: black;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }