#main
{
    display: flex;
    flex-wrap: wrap;
}

.tile
{
    min-width: 300px;
    margin: 10px;
}

.imgDiv
{
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: flex;
}

.tile:hover > 


.tile > h1 
{
    margin-bottom: 0px;
    text-decoration: none;
}