@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

img 
{
    pointer-events: none;
}

#body
{
    background-color: rgb(232, 226, 173);
}

#header
{
    text-align: center;
}

#header > h1
{
    font-family: roboto, sans-serif;
    color: rgb(49, 49, 145);
}

#main
{
    display: flex;
    flex-wrap: wrap;
}

.imgDiv > img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.imgDiv
{
    padding: 10px;
    width: 20%;
    min-width: 200px;
    display: flex;
}
/*
#loader
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgDiv#loaderCard
{
    text-align: center;
    height: 30vh;
    background-color: rgb(213, 216, 55);
    margin: 10px;
    background: linear-gradient(110deg, #ffee02 8%, #fff780 18%, #ffee02 33%);
    animation: 1.5s shine linear infinite;
    background-size: 200% 100%;
    font-family: roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    color: #a79d18;
}
*/